#dia,#fecha,#HoraActual{
	display: inline;
	color:white;
}

#content-iconos-redes{
	position: fixed;
	margin-top: 25vh;
	z-index: 9;
	right: 0;
	top: 0;
}

textarea {
	resize: none;
}

#mySidenav a {
	position: absolute; /* Position them relative to the browser window */
	right: -95px; /* Position them outside of the screen */
	transition: 0.3s; /* Add transition on hover */
	padding: 12px 12px 9px 12px; /* 15px padding */
	width: 135px; /* Set a specific width */
	text-decoration: none; /* Remove underline */
	font-size: 16px; /* Increase font size */
	color: white; /* White text color */
	border-radius: 6px 0 0 6px; /* Rounded corners on the top right and bottom right side */
	box-shadow: 0px 0px 1px rgba(200,200,200,0.5);
}

#mySidenav a:hover {
	right: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */

#about {
	padding: 8px 15px 9px 8px!important;
	top: 21px;
	background-color: #282828;
}

#blog {
	top: 66px;
	background-color: #282828;; /* Blue */
}

#projects {
	top: 112px;
	background-color: #282828; /* Red */
}

#contact {
	top: 158px;
	background-color: #282828;;
	cursor: pointer;
}

#car {
	top: 204px;
	background-color: #282828;
	cursor: pointer;
}







#seccion-chat{
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 100%;
	max-width: 350px;
	min-height: 25px;
	background-color: rgba(249,249,249,1);
	z-index: 11;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
	height: 500px;
}

#head-chat{
	height: 30px;
	color:white;
	font-size: 12px;
	cursor: pointer;
}

.contenedor-icono-estado-chat{
	padding-left: 10px;
	padding-right: 10px;
}

.nombre-usuario-chat{
	padding-left: 0px;
	padding-right: 0px;
}

#cerrar-chat{
	font-size: 16px;
}

.icono-estado-chat{
	color: green;
}

#cuerpo-chat{
	background-color: rgba(255,255,255,0.8);
	border-top: 1px solid white;
	height: 425px;
	overflow-y:scroll;
}

#cuerpo-chat::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
#cuerpo-chat::-webkit-scrollbar-thumb {
    background: rgba(100,100,100,0.5);
    border-radius: 3px;
}
#cuerpo-chat::-webkit-scrollbar-thumb:hover {
    background: rgba(100,100,100,0.7);
}
#cuerpo-chat::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
    border-radius: 6px;
}

#formulario-correo{
	/*display: none;*/
}

#titulo-identificar{
	font-size: 12px;
	text-align: justify;
	color:rgba(50,50,50,1);
}

#fondo-chat{
	position: absolute;
	width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

#espera-chat{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: white;
}

.input-chat{
    width: 100%;
    height: 35px;
    border:1px solid rgb(115,115,115);
    padding:0.3rem;
    background-color: white;
    background-color: #f0f0f0;
    box-sizing: border-box;
    font-size: 14px;
    color:rgba(50,50,50,1);
}

.boton-chat{
	height: 35px;
	line-height: 37px;
	color:white;
	font-size: 14px;
	border-radius: 4px;
	cursor: pointer;
}.boton-chat:hover{
	box-shadow: 0px 0px 5px rgba(50,50,50,0.75);
}

.row-contenedor-chat{
	margin-left: -10px;
}

#contenedor-chat{
	display: none;
}

#contenedor-enviar{
	display: none;
	padding-top: 5px;
	height: 45px;
	border:1px solid rgba(200,200,200,1);
	border-bottom: 0px;
}

.contenedor-boton-enviar{
	height: 35px;
	/*border:1px solid red;*/
	padding: 0px 5px 0px 5px;
}

#boton-enviar{
	height: 35px;
	color: white;
	font-size: 20px;
	padding-top: 2px;
	line-height: 35px;
	cursor: pointer;
}

.chat-emisor{
	font-size: 12px;
	color: white;
	font-weight: 400!important;
	max-width: 65%;
	line-height: 14px;
	text-shadow: 0px 0px 1px black;
	border-radius: 7px 7px 0px 7px;
}

.chat-emisor::after{
	content: " ";
	right: 0;
	bottom: 0;
	position: absolute;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #2770be transparent;
	margin-right: -10px;
}

.fecha-emisor{
	font-size: 8px;
	color: rgba(230,230,230,1);
	font-weight: 300;
	text-align: right;
	line-height: 7px!important
}

.chat-receptor{
	background-color: rgba(190,190,190,1);
	font-size: 12px;
	color: rgba(35,35,35,1);
	font-weight: 400!important;
	font-weight: 300;
	max-width: 65%;
	line-height: 14px;
	border-radius: 7px 7px 7px 0px;
}

.chat-receptor::after{
	content: " ";
	left: 0;
	bottom: 0;
	position: absolute;
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent rgba(190,190,190,1) transparent;
	margin-left: -10px;
}

.fecha-receptor{
	font-size: 8px;
	color: rgba(65,65,65,1);
	font-weight: 300;
	text-align: right;
	line-height: 7px!important
}











/*:::::::::ESTRELLAS:::::::::::::*/;

.estrella-fuerte{
	color:rgba(250,200,0,1)!important;
	display: none!important;
}



/*:::::::::::::PAGO::::::::::::::*/




#content-formulario-pagar{
    width:100%;
    //min-height:calc(80vh - 40px);
    float:left;
    z-index:1;
    //background-color:white;
    background-image: url(public/imagenes/logo-principal.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    //border:1px solid red;
}
#formulario-pagar{
    width:100%;
    float:left;
    //min-height:calc(80vh - 40px);
    //border:1px solid rgba(215,215,215,1);
    //background-color:rgba(240,240,225,0.92);
    padding:5px;
}

#texto-pagar{
    width:100%;
    padding:20px;
    color: rgba(50,50,50,1);
    font-weight:450;
    float:left;
    font-size:14px;
}

.label-campo{
    width:50%;
    float:left;
    padding:5px;
}

.label-pagar{
    width:100%;
    height:32px;
    float:left;
    padding:8px 0px 0px 10px;
    color: rgba(50,50,50,1);
    font-weight:450;
    background-color:rgba(240,240,215,1);
    letter-spacing:-0.5px;
    font-size:14px;
    border:1px solid rgba(215,215,215,0.9);
    border-bottom:0px;
}

.campo-pagos, .textarea-pagos{
    width:100%;
    height:36px;
    border:1px solid rgba(215,215,215,0.9);
    color: rgba(50,50,50,1);
    padding:12px;
    background-color: rgba(255,255,255,0.7);
    font-weight:600;
    font-size:13px;
    letter-spacing:-0.2px;
    //box-shadow:0px 0px 10px rgba(0,0,0,0.05);
}.campo-pagos::placeholder {
    color:rgba(180,180,180,1);
    font-weight: normal;
    font-size:13px;
}
.textarea-pagos::placeholder {
    color:rgba(180,180,180,1);
    font-weight: normal;
    font-size:13px;
}
.textarea-pagos{
    margin-bottom:-6px!important;
    height:56px!important;
    padding:8px;
}
.textarea-pagos::-webkit-scrollbar {
    display: none;
}

#cont-icon{
    float: right!important;
    color:rgba(80,70,90,0.4);
    margin-right:8px;
}

#lista{
    color:rgba(80,70,90,0.5);
}

.boton-pagar{
    width:60%;
    margin-left:20%;
    float:left;
    padding:8px;
    font-size:14px;
    //background-color: rgba(240,240,215,1);
    background-color:white;
    border:0px;
    border-radius:3px;
    color:rgba(50,50,50,1);
    margin-top:10px;
    text-align:center;
    font-weight:600;
    cursor:pointer;
    border:2px solid rgba(215,215,215,0.7);
}.boton-pagar:hover{
    box-shadow:0px 0px 10px rgba(50,50,50,0.15);
    //font-weight:500;
    font-size:15px;
    padding-top:7px;
}

.cargando-pago {
    border: 7px solid rgba(220,220,220,1); /* Light grey */
    border-top: 7px solid rgba(50,50,50,1);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.8s linear infinite;
    margin-right: auto;
    margin-left: auto;
    right:0;
    left:0;
    margin-bottom:20px;
}

#sombreado{
    box-shadow:0px 0px 10px rgba(0,0,0,0.1);
    width:100%;
    //border:1px solid red;
    float:left;
}

#espera-transaccion{
    width:100%;
    margin-top:40px;
    color: rgba(50,50,50,1);
    text-align:center;
    font-weight:500;
    float:left;
}
#cont-payu{
    width:100%;
    height:30px;
    float:left;
    padding-right:5px;
    margin-top:15px;
}

textarea {
    resize: none;
}

input:focus{
    transition:1s;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)!important;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)!important; 
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)!important;
    border:1px solid rgba(80,70,90,0.3)!important;
}

textarea:focus{
    transition:1s;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)!important;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)!important; 
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0)!important;
    border:1px solid rgba(80,70,90,0.3)!important;
}

@media (max-width: 500px) {

    #content-modal-pagar{
        height:100vh;
        margin-top:0vh;
        //border:1px solid red;
    }
    #content-formulario-pagar{
        overflow-y:scroll;
        height:calc(100vh - 60px);
        //border:1px solid blue;
    }
    #content-formulario-pagar::-webkit-scrollbar {
        display: none;
    }
    #texto-pagar{
        font-size:12px;
        padding:5px;
    }
    .label-campo{
        width:100%;
    }
    
}